@model CountryVatNameViewModel

<h2>VATS - Country @Model.CountryName </h2>

<hr />
<br />
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.countriesVats.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.countriesVats.First().Vat)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.countriesVats)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vat)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
